@{
    Layout = "_Layout";
}

@model Registrar.Models.Course
<h4>Add a new Course</h4>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)
        @Html.Label("Select Department")
    @Html.DropDownList("DepartmentId")
    <input type="submit" value="Add new Course"/>

}
<p>@Html.ActionLink("Show all Courses", "Index")</p>