  
@{
  Layout = "_Layout";
}

@model Registrar.Models.Student

<h4>Add a new task</h4>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.FirstName)
    @Html.TextBoxFor(model => model.FirstName)

    @Html.LabelFor(model => model.LastName)
    @Html.TextBoxFor(model => model.LastName)
    
    @Html.Label("Select course")
    @Html.DropDownList("CourseId")

    <input type="submit" value="Add new item" class="btn btn-default" />
}
